
<div class="jumbotron">
  <p>Total Devices: {{devices.length}}</p>
  <div class="container">
    <ul>
      <li ng-repeat="device in devices">
        <div>
          <h4>{{device.name}}</h4>
          <span>
            <p>{{device.make}} <span><strong>{{device.model}}</strong> </span><!-- <span>{{device.description}}</span> --></p>
          </span></div>
        <p>ID:<strong>{{device.deviceID}}</strong> <span>Token:<strong>{{device.accessToken}}</strong> - </span></p>
        <p>{{device.description}}</p>
        <button ng-click="remove(device)" class="btn btn-danger">Remove Device</button>
        <hr>
      </li>
    </ul>
  </div>
<div>

<div class="jumbotron">
  <h4>Add Device</h4>
  <form>
    <label>Name</label>
    <input ng-model="newDevice.name" placeholder="name your device">
    <label>Make</label>
    <input ng-model="newDevice.make" placeholder="device manufacturer">
    <label>Model</label>
    <input ng-model="newDevice.model" placeholder="type of device">

    <label>Device ID</label>
    <input ng-model="newDevice.deviceID" placeholder="dsfjsdf9afijdf89">
    <label>Access Token</label>
    <input ng-model="newDevice.accessToken" placeholder="specific to device">

    <label>Description</label>
    <input ng-model="newDevice.description" placeholder="Description of your device and project">

    <button ng-click="devices.save(newDevice); newDevice='';" class="btn btn-success">Click to Add Device</button>
    <hr>
    <!-- <button ng-click="removeAll()" class="btn btn-danger">remove all devices</button> -->
  </form>
</div>
